In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
df_annotations = pd.read_excel(f'{os.path.abspath("..")}/data/annotations.xlsx')

In [3]:
dfannotation_vale = df_annotations[df_annotations['Emotion'] == 'Valence']

In [4]:
PC_Num, Part_Num = 401, 2
EMO_Valence = 'Valence'
EMO_Arousal = 'Arousal'
EMO_Dominance = 'Dominance'

In [5]:
def mean_vote(df_annotations: pd.DataFrame, PC_Num:int, Part_Num:int, emotion:str) -> pd.DataFrame:
    
    all_annot = [] 
    time = pd.DataFrame(columns = ['Time','Annotation','Annotator'])
    
    df_copy = df_annotations[(df_annotations.PC_Num == PC_Num) & (df_annotations.Part_Num == Part_Num) & (df_annotations.Emotion == emotion)]
    
    # Leo cada audio, para cada anotador para le emoción especificada{}
    for name, annotator, emot in zip(df_copy['Name'], df_copy['Annotator'], df_copy['Emotion']):
    
        temp_df = pd.read_csv(f'{os.path.abspath("..")}/data/MSPCORPUS/Annotations/{emot}/{name}', skiprows=9, header=None, names=['Time', 'Annotation'])
        temp_df['Annotator'] = annotator
        time = pd.concat([time, temp_df], ignore_index = True)
        
        all_annot.append(temp_df)
        
    df_pivot = pd.DataFrame(time.pivot_table(columns = 'Annotator', index = 'Time', values = 'Annotation').to_records()).set_index('Time')
    df_pivot = df_pivot.fillna(method='ffill')
    df_pivot['Votación'] = df_pivot.mean(axis = 1)
    
    return df_pivot

In [6]:
df = mean_vote(df_annotations, PC_Num, Part_Num, EMO_Valence)

In [7]:
df

                7     9    10     13     17     19  Votación
Time
0.040000     0.00  0.00 -0.01   0.00  -0.01   0.00 -0.003333
0.056816     0.00  0.00 -0.01   0.00  -0.01   0.00 -0.003333
0.057139     0.00  0.00 -0.01   0.00  -0.01   0.00 -0.003333
0.057263     0.00  0.00 -0.01   0.00  -0.01   0.00 -0.003333
0.063973     0.00  0.00 -0.01   0.00  -0.01   0.00 -0.003333
...           ...   ...   ...    ...    ...    ...       ...
268.108400 -47.06  3.91  4.72  17.97  12.60 -40.48 -8.056667
268.113700 -47.06  3.91  4.72  17.97  12.60 -40.48 -8.056667
268.116500 -47.06  3.91  4.72  17.97  12.60 -40.48 -8.056667
268.125500 -47.06  3.91  4.72  17.97  12.60 -40.48 -8.056667
268.130600 -47.06  3.91  4.72  17.97  12.60 -42.07 -8.321667

[61752 rows x 7 columns]