In [1]:
import os
import pandas as pd
import numpy as np

# Set current working directory to parent folder
os.chdir(os.path.abspath(".."))

In [2]:
PC_Num, Part_Num = 1540, 1
df_annotations = pd.read_excel(f'data/annotations.xlsx')

In [3]:
from src.dataload import audio_select_mean_vote

df = audio_select_mean_vote(df_annotations, PC_Num, Part_Num)

In [5]:
df

              Time    Arousal  Dominance    Valence
0         0.040000  -0.170000   0.076000  -0.003333
1         0.041000  -0.116667   0.061667  -0.003333
2         0.056915  -0.116667   0.061667  -0.003333
3         0.056944  -0.116667   0.061667  -0.003333
4         0.057370  -0.116667   0.031667  -0.003333
...            ...        ...        ...        ...
146125  268.528700 -10.601667  22.633333  23.416667
146126  268.529000 -10.601667  22.633333  23.416667
146127  268.529500 -10.601667  22.633333  23.416667
146128  268.535100 -10.601667  22.633333  23.416667
146129  268.544200 -10.601667  22.635000  23.416667

[146130 rows x 4 columns]